@font-face {
  font-family: "marvel2";
  src: url("./assets/fonts/marvel\ 2.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@100;300;500;700&display=swap");

/*SCROLL BAR STYLE*/
::-webkit-scrollbar {
  width: 20px;
}

::-moz-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-moz-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
::-moz-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
::-moz-scrollbar-thumb:hover {
  background: #b30000;
}

h1 {
  font-family: "marvel2" !important;
  font-size: 12rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 9rem;
  }
}

h2 {
  font-family: "Roboto" !important;
  font-size: 2rem;
  font-weight: 300;
}
h3 {
  font-family: "Roboto" !important;
  font-size: 1.5rem;
  font-weight: 300;
}
h4 {
  font-family: "Roboto" !important;
  font-size: 1.2rem;
  font-weight: 300;
}

h5 {
  font-family: "marvel2" !important;
  font-size: 2rem;
  font-weight: 300;
}

.mt-n {
  margin-top: -1rem;
}
.mt-n5 {
  margin-top: -4rem;
}

a {
  text-decoration: none;
  z-index: 9999;
}

p {
  font-family: "Roboto" !important;
  font-size: 1rem;
}

/*CUSTOM CLASES--->HERO && NAV**/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav {
  z-index: 1;
}

.navigation {
  background-color: #ed1d23;
}

.hero {
  background-color: #ed1d23;
}

.hero-image {
  margin-top: -17rem;
}

@media (max-width: 768px) {
  .hero-image {
    display: none;
  }
}

/** NEWS CUSTOM CSS*/

.news h1 {
  font-size: 7rem;
  font-weight: 300;
  font-style: italic;
  background: -webkit-linear-gradient(rgb(38, 156, 253), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.news p {
  font-family: "Roboto" !important;
  font-size: 1rem;
  color: rgb(139, 139, 139);
}

.card {
  overflow: hidden;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  min-height: 350px;
}

.date {
  color: rgb(209, 209, 209);
}

.card-body {
  background-color: #ed1d23;
  max-height: 290px;
}

.card-body h5 {
  color: white;
}
.card-body p {
  color: white;
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.2s all ease-in-out;
}

.card img:hover {
  transform: scale(1.3);
}

/** BUTTON EFFECT W GLITCH ANIM*/

button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #ff0000;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #ff0000;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff0000;
  z-index: -1;
}

button:hover,
button:focus {
  color: white;
}

button:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}

/*PODCASTS SECTION*/

.podcasts-1 {
  margin-right: 1rem;
}

/*HEROES SECTION*/

.custom-shape-divider-top-1646295180 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.heroes_section {
  background-image: url("./assets/images/blueBg.jpg");
}
.villains_section {
  background-image: url("./assets/images/redBg.jpg");
}

.heroes-h1 {
  margin-top: 7rem;
}

@media screen and (max-width: 768px) {
  .heroes-h1 {
    margin-top: 3rem;
  }

  .big-heading {
    font-size: 7rem;
  }
}

.snap-wrapper {
  display: flex;
  width: 70%;
  margin: auto;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.snap-card {
  scroll-snap-align: center;
  min-width: 33%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .snap-card {
    min-width: 100%;
  }
}

.snap-card h1 {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  color: white;
  text-align: center;
}

.snap-card img {
  border-radius: 50%;
  border: 10px solid white;
}

/*VIDEOS SECTION*/

.videos_section {
  background-image: url("./assets/images/stainless-steel-10.jpg");
}

.videos-h1 {
  margin-top: 1rem;
}

/*CHARACTER FINDER SECTION*/

.finder h1 {
  font-size: 7rem;
  font-weight: 300;
  font-style: italic;
  background: -webkit-linear-gradient(rgb(38, 156, 253), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.finder p {
  font-family: "Roboto" !important;
  font-size: 1rem;
  color: rgb(139, 139, 139);
}

.hero-card {
  /* border: 1px solid rgb(211, 211, 211); */
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 3px 10px 18px 10px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}

.hero-card h5 {
  font-family: "marvel2" !important;
  font-size: 4rem;
  font-weight: 300;
}

.hero-card a {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

input {
  width: 300px;
  padding: 15px;
  border: 2px solid red;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}

input:focus {
  width: 680px;
  outline: invert;
  outline-color: rgb(38, 156, 253);
}

@media screen and (max-width: 768px) {
  input:focus {
    width: 400px;
    outline: invert;
    outline-color: rgb(38, 156, 253);
  }
}

/*FOOTER STYLES*/

footer {
  background-color: #ed1d23;
  margin-top: 3rem;
}

footer h1 {
  color: white;
}
footer h4 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  margin-top: -40px;
}

@media screen and (max-width: 768px) {
  footer h1 {
    font-size: 5rem;
    text-align: center;
  }
  footer h4 {
    font-size: 1rem;
    margin-top: 10px;
  }
}

/*HEROES PAGES STYLES*/

.navbar-heroes {
  background-color: #ed1d23;
  margin-top: -2rem;
}

.hero-wrapper {
  height: 100vh;
}

.hero-display h1 {
  font-size: 7rem;
  font-weight: 300;
}

.hero-display p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(114, 114, 114);
}

.hero-footer {
  margin-top: none;
}

.bio-wrapper {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 3px 10px 18px 10px rgba(0, 0, 0, 0.1);
}
